<a asp-controller="Concert" asp-action="Add" class="announce-button">Announce Concert</a>
<hr />
@using ConcertHub.ViewModels;
@model IEnumerable<AllConcertsViewModel>;

@if(Model != null)
{
	<div class="concerts-box">
		@foreach (var e in Model)
		{
			<div class="concert-box">
				<h4 class="concert-name">@e.ConcertName</h4>
				<div class="concert-dates">
					<span>StartDate: @e.StartDate.ToString("MM/dd/yyyy")</span>
					<span class="endDate">EndDate: @e.EndDate.ToString("MM/dd/yyyy")</span>
				</div>
				<span>@e.Location</span>
				<span>@e.Category</span>
				<div class="buttons">
					<a class="button" asp-controller="Concert" asp-action="Details">Details</a>
					@if (User.Identity.IsAuthenticated && User.Identity.Name == e.Organizer)
					{
						<a class="button" asp-controller="Concert" asp-action="Edit" asp-route-id="@e.Id">Edit</a>
					}
					else if(User.Identity.IsAuthenticated && User.Identity.Name != e.Organizer)
					{
						<a class="button" asp-controller="Concert" asp-action="Join">Join</a>
					}
				</div>

			</div>
		}
	</div>
}