@using ConcertHub.ViewModels;
@model DeleteViewModel;
@{
    ViewData["Title"] = "Delete" + Model.ControllerName;
}

<div class="d-flex justify-content-center align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.Name</h3>
                <p class="mb-0"><strong>Added By:</strong> @Model.Creator</p>
                <p class="text-danger mt-3">Are you sure you want to delete @(Model.Name)?</p>
            </div>
            <div class="card-footer">
                <form asp-controller="@Model.ControllerName" asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">

                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-controller="@Model.ControllerName" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>