@using ConcertHub.ViewModels;
@model PagedList.IPagedList<AllPerformersViewModel>
@using PagedList.Mvc;

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Performer" asp-action="Add" class="announce-button">Announce Performer</a>
}
else
{
    <a class="announce-button" asp-area="Identity" asp-page="/Account/Login">Announce Performer</a>
}
<hr />

@if (Model != null && Model.Count > 0)
{
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Performer Name</th>
                    <th>Stage Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var p in Model)
                {
                    <tr>
                        <td>@p.PerformerName</td>
                        <td>@p.StageName</td> 
                        <td>
                            <div class="buttons">
                                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                                {
                                    <a class="button" asp-controller="Performer" asp-action="Delete" asp-route-id="@p.Id">Delete</a>
                                }
                                else
                                {
                                    <a class="button" asp-controller="Performer" asp-action="Details" asp-route-id="@p.Id">Details</a>
                                }
                                @if (User.Identity.IsAuthenticated && User.Identity.Name == p.Creator || User.IsInRole("Manager") || User.IsInRole("Admin"))
                                {
                                    <a class="button" asp-controller="Performer" asp-action="Edit" asp-route-id="@p.Id">Edit</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="pagination-navigation">
        <ul class="pagination">

            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="All" asp-route-page="@(Model.PageNumber - 1)">Previous</a>
            </li>

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-action="All" asp-route-page="@i">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="All" asp-route-page="@(Model.PageNumber + 1)">Next</a>
            </li>

        </ul>
    </nav>
}
else
{
    <h4 class="empty-list-message">No performers announced yet. Be the first one to announce a performer!</h4>
}