@using ConcertHub.ViewModels;
@model IPagedList<ManagerUsersViewModel>;
@using PagedList;

<h4 class="manage-header">Manage Managers</h4>
<hr />

@if (Model != null && Model.Count > 0)
{
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.Email</td>
                        @if (p.Role)
                        {
                            <td>Manager</td>
                        }
                        else
                        {
                            <td>User</td>
                        }
                        <td>
                            <div class="buttons">
                                @if(!p.Role)
                                {
                                    <a class="button" asp-controller="Manager" asp-action="Add" asp-area="Admin" asp-route-userId="@p.Id">Add Manager Role</a>
                                }
                                else
                                {
                                    <a class="button" asp-controller="Manager" asp-action="Remove" asp-area="Admin" asp-route-userId="@p.Id">Remove Manager Role</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation" class="pagination-navigation">
        <ul class="pagination">

            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-area="Admin" asp-route-page="@(Model.PageNumber - 1)">Previous</a>
            </li>

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-area="Admin" asp-route-page="@i">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" asp-action="Index" asp-area="Admin" asp-route-page="@(Model.PageNumber + 1)">Next</a>
            </li>

        </ul>
    </nav>
}